	.banner{background-image: url(../images/ET_06.gif);}
	.banner-inner{width: 972px;margin: 0 auto;position: relative;}
	.banner-left{width: 628px;margin-left: 28px;padding-bottom: 60px;}
	.banner-left a{line-height: 35px;text-align: center;text-decoration: none;color:white;font-size: 27px;display: block;width: 106px;height: 41px;background:linear-gradient(#e46200,#cc2800);border-radius: 5px;border-top: 1px solid #eb8100;}
	.banner-left a:hover{color: #7f7f7f;}
	.banner-left h3{padding-top: 62px;}
	.banner-left p{font-size: 15px;line-height: 25px;font-family:Tahoma;color: #7f7d6d;margin-top: 21px;margin-bottom: 21px;}
	.banner-left span{text-decoration: underline;color:#cc2500;}
	.banner-right{width: 336px;position: absolute;bottom: 37px;right: 3px;}

.main-inner{width: 939px;overflow: hidden;margin: 0 auto;}
.main-left{width: 639px;float: left;}
.main-left p{padding-left: 79px;line-height: 25px;}
.left-top{width: 590px;padding-right: 30px;padding-bottom: 30px;border-bottom: 1px dotted #3c3d3d;}
.left-top h3{padding-bottom: 20px;}

	.left-top a{margin-top: 30px;margin-left: 80px;line-height: 35px;text-align: center;text-decoration: none;color:white;font-size: 27px;display: block;width: 106px;height: 41px;background:linear-gradient(#e46200,#cc2800);border-radius: 5px;border-top: 1px solid #eb8100;}
	.left-top a:hover{color: #7f7f7f;}

.div1{width: 619px;}
.div1 img{padding-right: 20px;float: left;}
.div1 strong{color: white;}
.left-bot{width: 619px;padding-right: 20px;padding-top: 30px;}

	.left-bot a{margin-top: 20px;margin-left: 80px;margin-bottom: 56px;line-height: 35px;text-align: center;text-decoration: none;color:white;font-size: 27px;display: block;width: 106px;height: 41px;background:linear-gradient(#e46200,#cc2800);border-radius: 5px;border-top: 1px solid #eb8100;}
	.left-bot a:hover{color: #7f7f7f;}

.main-right{width: 300px;float: right;}
.main-right .img1{padding-bottom: 15px;}
.main-right .img2{padding-top: 30px;}