.main-inner{width: 939px;overflow: hidden;margin: 0 auto;}
.nav .ap{color: #cc2500;}
.main-left{width: 610px;float: left;}
.left-top{width: 590px;padding-right: 19px;border-bottom: 1px dotted #3c3d3d;}
.div2{width: 640px;padding-top: 10px;float: left;}
.div2 ul{width: 313px;list-style: none;}
.div2 .ul1{float: left;}
.div2 .ul2{float: right;}
.div2 ul li{width: 280px;background-image: url(../images/arrow_03.png);background-repeat: no-repeat;background-position: 0 center;line-height: 34px;border-bottom: 1px #3c3d3d dotted;}
.div2 ul li:last-child{border-bottom:none;}
.div2 ul li a{text-decoration: none;color: white;font-size: 14px;font-family: Tahoma;padding-left:8px;font-style: italic;}
.div2 ul li a:hover{color: #cc2500;}
.left-top a img{padding-top: 25px;padding-bottom: 30px;}
/* 
	.left-top a{margin-top: 20px;margin-left: 80px;margin-bottom: 56px;line-height: 35px;text-align: center;text-decoration: none;color:white;font-size: 27px;display: block;width: 106px;height: 41px;background:linear-gradient(#e46200,#cc2800);border-radius: 5px;border-top: 1px solid #eb8100;}
	.left-top a:hover{color: #7f7f7f;} */


.left-bot{width: 590px;padding-right: 20px;}
.left-bot span{color: white;}
.left-bot h3{padding-top: 29px;padding-bottom: 29px;}
.left-bot .div3{width: 600px;padding-right: 40px;float: left;}
.left-bot .div3 img{float: left;margin-top: 18px;margin-right: 18px;margin-bottom: 6px;}
.left-bot .div3 p{line-height: 25px;padding-bottom: 75px;margin-top: 10px;}

aside{width: 300px;float: right;}
aside .img1{padding-bottom: 15px;}
aside .img2{padding-top: 15px;padding-left: 16px;padding-bottom: 27px;}
figcaption{padding-left: 10px;line-height: 20px;color: #7f7f7f;font-family:Arial;font-size: 15px;padding-bottom: 15px;}
aside .img3{padding-bottom: 40px;padding-left: 10px;padding-top: 30px;}
aside ul{width: 313px;list-style: none;padding-left: 10px;}
aside ul li{width: 280px;line-height: 30px;border-bottom: 1px #3c3d3d dotted;}
aside ul li:last-child{border-bottom:none;}
aside ul li a{text-decoration: none;color: white;font-size: 14px;font-family: Tahoma;font-style: italic;}
aside ul li a:hover{color: #cc2500;}
aside p{width: 300px;line-height: 25px;margin-left: 16px;font-family: Tahoma;font-size: 14px;color:#7f7d6d;}