	*{margin: 0;padding: 0;}
	h3{font-size: 34px;color: white;word-spacing: 3px;letter-spacing: -3px;}
	.top{background-color: #000000;}
	.top-inner{width: 1006px;overflow: hidden;margin: 0 auto;}
	.logo{float: left;width: 522px;height: 143px;}
	nav{width: 484px;float: right;font-size: 15px;}
	nav a{text-decoration: none;font-family: Verdana;line-height: 143px;margin-right: 20px;color: #7f7d6d;}
	nav a:hover{color: #cc2500;}
	nav ul{list-style: none;}
	nav ul li{float: left;}
	nav .a2{color: #cc2500;}



	.main{background-image: url(../images/ET_09.gif);}
	
	.main-top{width: 939px;overflow: hidden;padding-top: 40px;padding-bottom: 40px;}
	.main-top .card{width: 300px;height: 180px;margin-right: 18px;float: left;}
	.main-top .card1{background-image: url(../images/joinus_03.gif);}
	.main-top .card2{background-image: url(../images/spring_03.gif);}
	.main-top .card3{background-image: url(../images/summer_03.gif);margin-right: 0;}
	.card a img{margin-top: 113px;margin-left: 20px;}


	
	.main-left p{font-size: 15px;font-family:Tahoma;color: #7f7f7f;line-height: 25px;}
	
	.left-top h3{padding-bottom: 20px;}
	
	


	.main-right ul{list-style: none;padding-left: 20px;}
	.main-right ul li{width: 280px;background-image: url(../images/arrow_03.png);background-repeat: no-repeat;background-position: 0 center;line-height: 34px;border-bottom: 1px #3c3d3d dotted;}
	.main-right ul li:last-child{border-bottom:none;}
	.main-right ul li a{text-decoration: none;color: white;font-size: 15px;font-family: Tahoma;padding-left:8px;font-style: italic;}
	.main-right ul li a:hover{color: #cc2500;}


	.footer{background-color: #000;}
	.footer-inner{width: 683px;overflow: hidden;margin: 0 auto;padding-bottom: 45px;}
	.footer-inner p{font-size: 12px;font-family:Tahoma;color: #7f7d6d;}
	.footer-inner .text{float: left;width: 278px;text-align: center;margin-top: 38px;}
	.footer-inner .text2{padding-top:13px; }
	.footer-inner span{text-decoration: underline;color:#cc2500;}
	.footer-inner ul{list-style: none;float: right;margin-top: 48px;}
	.footer-inner ul li{float: left;margin-right: 10px;}


